<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="head">

  <!-- jQuery -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- wow animation -->
  <script src="/assets/js/animate.js"></script>
  <!-- select country -->
  <script src="/assets/js/bootstrap-select.js"></script>
  <!-- owl carousel -->
  <script src="/assets/js/owl.carousel.js"></script>
  <!-- chart js -->
  <script src="/assets/js/Chart.min.js"></script>
  <script src="/assets/js/Chart.bundle.min.js"></script>
  <script src="/assets/js/utils.js"></script>
  <script src="/assets/js/analyser.js"></script>
  <!-- nice scrollbar -->
  <script src="/assets/js/perfect-scrollbar.min.js"></script>
  <script>
    var ps = new PerfectScrollbar('#sidebar');
  </script>
  <!-- custom js -->
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/chart_custom_style1.js"></script>
</th:block>